@{
    ViewData["Title"] = "Add City";
}

<form method="post">
    <div class="form-group">
        <label for="CityName">Name</label>
        <input type="text" class="form-control" id="CityName" name="CityName">
    </div>
    <div class="form-group">
        <label for="Population">Population</label>
        <input type="number" class="form-control" id="Population" name="Population">
    </div>
    <button type="submit" class="btn btn-primary">Add</button>
</form>
